body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}